{% extends "home/base/index.html" %} 

{% load static %}
{% load nepaliDate %}
{% load localization %}

{% block title %}{{ config.website_title__localized|default:'वेबसाइट शीर्षक' }}{% endblock %}

{% block content %}

	<section class="breadcrump-section">
		<div class="breadcrump-bgimg" style="background-image: url({% static 'home/assets/images/mt-everest.jpg' %});">
			<div class="breadcrumb-overlay-text text-center">
				
				<div class="breadcrumb-title mb-15">
					<h1>{% trans %}Photo Gallery{% endtrans %}</h1>
				</div>

				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url_localized 'home:home' %}">{% trans %}Home{% endtrans %}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{% trans %}Photo Gallery{% endtrans %}</li>
					</ol>
				</nav>
			</div>
		</div>
    </section>
    <section class="section gallery-section">
        <div class="container">
           <div>
                <div class="mb-30">
                    <!-- <div class="features-category">
                        <span class="features-category-title box-shadow-effect">अन्तरक्रिया कार्यक्रम २०७६।९।२३, घोराही, दाङ</span>
                    </div> -->
                </div>
                <div class="row">
                {% for object in object_list %}
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="content">
                            <a href="{% url_localized 'home:album-detail' object.id %}">
                              <div class="content-overlay"></div>
                              <img src="{{ object.get_title_image }}" alt="">
                              <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">{{ object.name__localized }}</h3>
                              </div>
                              <div class="icons-display">
                                <h3><span><i class="fas fa-image"></i></span></h3>
                              </div>
                            </a>
                          </div>
                    </div>
                {%  endfor %}
                </div>
            </div>
            {% include 'home/base/pagination.html' %}
           <!-- <div class="view-more-btn text-right">
                <button type="button" class="btn btn-dark">थप हेर्नुहोस्</button>
            </div> -->
        </div>
    </section>




{% endblock %}
