{% extends "dashboard/base/index.html" %} 

{% load static %}

{% block title %}Site config{% endblock %}

{% block subtitle %}Site config{% endblock %}

{% block head %}
<!-- <style>
	input#id_full_nav {
        transform: scale(3);
        margin: 27px;
      }
</style> -->

{% endblock %} 

{% block content %}
				<div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page">
					<div class="container-fluid page__container">
						<div class="card card-form form-header-layout">
							<h1>Site config</h1>
							<div class="row no-gutters">
								<div class="col-lg-12 card-form__body card-body pomelo-form-card">
									<form method="post" action="" enctype="multipart/form-data" autocomplete="off" class="was-validated uniForm">
										{% csrf_token %}
							 			{% for field in form %}
										<div class="form-group" >
											<label>{{field.label}}{% if field.field.required %}* {% endif %}</label>
											{{ field }}
											<span style="color: red;">{{ field.errors }}</span>
										</div>
										{% endfor %}

										<div class="form-group" >
											<input id="pac-input" class="controls" type="text" placeholder="Search Box" class="form-control" style="width:200px; padding-top:20px">
											<div id="map" style="width:100%;height: 500px;"></div>
										</div> 
													  
										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock content %}


{% block script %}
	{% include "dashboard/base/form.html" %} 


	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlVH5hJDqvszG08e8gU7MoPEnoZfovnDk&amp;libraries=places&amp;callback=initMap" async defer></script>
	<script text="text/javascript">
		function initMap() {    
			
			{% if object.latitude and object.longitude %}
				var latlng = new google.maps.LatLng({{ object.latitude }}, {{ object.longitude }});
				$('#id_latitude').val({{ object.latitude }});
				$('#id_longitude').val({{ object.longitude }});
			{% else %}
				var latlng = new google.maps.LatLng(27.708773, 83.466686);
				$('#id_latitude').val(27.708773);
				$('#id_longitude').val(83.466686);
			{% endif %}
			
			var map = new google.maps.Map(document.getElementById('map'), {
				center: latlng,
				zoom: 11,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});
			
			var input = document.getElementById('pac-input');
				var searchBox = new google.maps.places.SearchBox(input);
				map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
			
			var marker = new google.maps.Marker({
				position: latlng,
				map: map,
				title: 'Set lat/lon values for this property',
				draggable: true
			});
			
			map.addListener('bounds_changed', function() {
				searchBox.setBounds(map.getBounds());
				});
			
			var markers = [];
				// Listen for the event fired when the user selects a prediction and retrieve
				// more details for that place.
				searchBox.addListener('places_changed', function() {
				var places = searchBox.getPlaces();

				if (places.length == 0) {
					return;
				}

				// Clear out the old markers.
				markers.forEach(function(marker) {
					marker.setMap(null);
				});
				markers = [];

				// For each place, get the icon, name and location.
				var bounds = new google.maps.LatLngBounds();
				marker.setPosition(places[0].geometry.location);

				$('#id_latitude').val(Number((places[0].geometry.location.lat()).toFixed(7)));
				$('#id_longitude').val(Number((places[0].geometry.location.lng()).toFixed(7)));

				places.forEach(function(place) {
					var icon = {
					url: place.icon,
					size: new google.maps.Size(71, 71),
					origin: new google.maps.Point(0, 0),
					anchor: new google.maps.Point(17, 34),
					scaledSize: new google.maps.Size(25, 25)
					};

					// Create a marker for each place.
					markers.push(new google.maps.Marker({
					map: map,
					icon: icon,
					title: place.name,
					position: place.geometry.location
					}));

					if (place.geometry.viewport) {
					// Only geocodes have viewport.
					bounds.union(place.geometry.viewport);
					} else {
					bounds.extend(place.geometry.location);
					}
				});
				map.fitBounds(bounds);
				});
				
			google.maps.event.addListener(marker, 'dragend', function(a) {
				$('#id_latitude').val(Number((a.latLng.lat()).toFixed(7)));
				$('#id_longitude').val(Number((a.latLng.lng()).toFixed(7)));
			});
		}
	</script>
{% endblock %}