			{% load paginator %}

			{% if is_paginated %}

			<!-- pagination -->
			<div class="features-category-pagination d-flex text-center mobile-mb-30 ">
				<nav aria-label=" Page navigation example ">
					<ul class="pagination ">
						{% if page_obj.has_previous %}
						<li class="page-item ">
							<a class="page-link" href="?page={{ page_obj.previous_page_number }}&amp;search={{ request.GET.search|default:'' }}" aria-label="Previous ">
								<span aria-hidden="true "><i class="fas fa-angle-left "></i></span>
								<span class="sr-only ">Previous</span>
							</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="#" aria-label="Previous ">
								<span aria-hidden="true "><i class="fas fa-angle-left "></i></span>
								<span class="sr-only ">Previous</span>
							</a>
						</li>
						{% endif %}

						{% for page in paginator|pages:page_obj %}
						
						{% if page %}

						{% if page_obj.number == page %}
						<li class="page-item active"><a class="page-link " href="#">{{ page }}</a></li>
						{% else %}
						<li class="page-item "><a class="page-link " href="?page={{ page }}&amp;search={{ request.GET.search|default:'' }}">{{ page }}</a></li>
						{% endif %}

						{% else %}
						<li class="page-item disabled"><a class="page-link " href="#">...</a></li>
						{% endif %}

						{% endfor %}
						
						{% if page_obj.has_next %}
						<li class="page-item">
							<a class="page-link " href="?page={{ page_obj.next_page_number }}&amp;search={{ request.GET.search|default:'' }}" aria-label="Next ">
								<span aria-hidden="true "><i class="fas fa-angle-right "></i></span>
								<span class="sr-only ">Next</span>
							</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<a class="page-link " href="#" aria-label="Next ">
								<span aria-hidden="true "><i class="fas fa-angle-right "></i></span>
								<span class="sr-only ">Next</span>
							</a>
						</li>
						{% endif %}

					</ul>
				</nav>
			</div>

			{% endif %}